# Creating, reading, and writing reference

In [1]:
import pandas as pd

## Creating

In [2]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd.Series([30.1, 35.7, 40.9], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30.1
2016 Sales    35.7
2017 Sales    40.9
Name: Product A, dtype: float64

## Reading common file formats

In [1]:
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv")

NameError: name 'pd' is not defined

In [2]:
wine_reviews.shape

NameError: name 'wine_reviews' is not defined

In [3]:
wine_reviews.head()

NameError: name 'wine_reviews' is not defined

In [ ]:
wine_reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

In [ ]:
#wic = pd.read_excel("../input/publicassistance/xls_files_all/WICAgencies2013ytd.xls", 
 #                   sheet_name='Total Women')

In [ ]:
#import sqlite3
#conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")
#fires = pd.read_sql_query("SELECT * FROM fires", conn)

## Writing common file formats

In [ ]:
wine_reviews.head().to_csv("wine_reviews.csv")
#wic.to_excel('wic.xlsx', sheet_name='Total Women')
#conn = sqlite3.connect("fires.sqlite")
#fires.head(10).to_sql("fires", conn)

## Indexing, Selecting & Assigning

In [ ]:
reviews = pd.read_csv("winemag-data-130k-v2.csv", index_col=0)

In [ ]:
desc = reviews.describe()
desc

In [ ]:
reviews.head()

## iloc vs loc

.iloc --> index based
takes --> single label, list of labels, slice(e.g. 'a':'f'), boolean array

.loc --> label based
takes --> integer, list of integers, slice(e.g. 1:7), boolean array

In [ ]:
something  = reviews.description.iloc[2]
something

In [ ]:
sm2 = reviews.description.loc[2] # here 2 is acting as both label and index
sm2

In [ ]:
r = [0,1,2,3]
fd1 = reviews.description.iloc[r]
fd2 = reviews.points.iloc[0:5]
fd = list(zip(fd1,fd2))
fd = pd.DataFrame(fd)
fd

In [ ]:
c= ['country','province','region_1','region_2']
r = [0,1,10,100]
df = reviews.loc[r,c]

In [ ]:
italian_wines = reviews[reviews.country=='Italy'] # Applying conditions
tow = reviews[reviews.country.isin(['Australia','New Zealand']) & (reviews.points>=95)]
tow.count()

In [ ]:
tow2 = reviews.loc[reviews.country.isin(['Australia','New Zealand']) & (reviews.points>=95)]
tow2.count()

## Summary Functions and Maps

In [ ]:
reviews.points.median()

In [ ]:
reviews.points.describe()

In [ ]:
reviews.country.unique()

In [ ]:
reviews.country.value_counts()

In [ ]:
reviews.price-reviews.price.mean()

In [ ]:
(reviews.points / reviews.price).idxmax()

In [ ]:
test = pd.read_csv("restaurants.csv")

In [ ]:
test.head()

In [ ]:
test.columns

In [ ]:
x = test['Restaurant Name'].unique()
x

In [ ]:
test['Currency'].value_counts()

In [ ]:
test[test['Currency']=='Dollar($)']

In [ ]:
(test['Average Cost for two']/test['Votes']).idxmax()

In [ ]:
test['Rating color'].value_counts()

## grouping and sorting

In [ ]:
t = test.groupby('Currency')['Votes']
t

In [ ]:
t = test.groupby(['Currency', 'Rating color'])['Votes'].max()
t

In [ ]:
reviews[reviews.taster_twitter_handle.isna()].count()

In [ ]:
reviews.taster_twitter_handle.value_counts(dropna=False)

In [ ]:
r = reviews[reviews.taster_twitter_handle.isna()]

In [ ]:
r = r.iloc[:, 0]
type(r)

In [ ]:
r = r.value_counts()

# plotting

In [ ]:
r.plot.bar() # works on series Series

In [ ]:
r.plot.area()

In [ ]:
r = test['Currency'].value_counts()

In [ ]:
r

In [ ]:
r.plot.bar()

In [ ]:
r.plot.area()

In [ ]:
r.plot.barh()

In [ ]:
r.plot.box()

In [ ]:
r.plot.density()

In [ ]:
r.plot.hist()

In [ ]:
r.plot.kde()

In [ ]:
r.plot.line()

In [ ]:
r.plot.pie()

## Sorting

In [ ]:
test['Votes'].sort_values().head()

In [ ]:
test['Aggregate rating'].sort_values().head()

In [ ]:
test.Votes.sort_index().head()

In [ ]:
test.Votes.sort_values().head()

In [ ]:
test.Votes.idxmax()

In [ ]:
test.Votes.iloc[10]

## Assignment

1) Create a dataframe with you and your friends name as index columns and subject score as column values.

2) Create a Series for each friend in above question.

3) Read wines data from the "winemag-data-130k-v2.csv" int wine_data.

4) What are the dimensions of the wine_data? Tell no. of rows and columns.

5) Find the mean, std, count, min and max for Price and points column using both describe() and individual function like mean(), max() etc.

6) Fetch the perticular cell from the data with coordinates: (3,6)

7) Fetch the data using index position of columns from the data for range 3 to 7 in data.

8) Fetch the data using index position of columns from the data for using their column names.

9) create a dataframe name it test_data and put points, price and country name into that dataframe.

10) Count the number of descriptions of wine which has "tropical" in itself.

11) Find all the unique occurance and their frequencies from the wine data for valid columns.

12) find the first occurance of the max value for (Votes+Avg. cost)/aggregate rating on restaurants data.

13) draw various plot and tell their importance and what you understand from it.

14) use map function to divide the points of each row with 5.

15) use apply function to use as aggregating function.